.calculatorcontainer {
  width: 100%;
  margin: 5px;
  justify-content: center;
}

.c1 {
  background-color: #42548a;
}

.calculatorbox {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

.inputflex {
  width: 100%;
  margin: 0;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  text-align: center;
}

#calcSDLi {
  border-radius: 10px;
}

.inputflex label {
  width: 120px;
  font-size: 20px;
  cursor: default;
}

.calculatorbox input:not(.normalinput) {
  all: unset;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.calcSDoutput {
  display: hidden;
  width: 100%;
}

div {
  display: block;
}

.calculatorcontainer h1 {
  font-size: 60px;
}

h1 {
  font-weight: normal;
  margin: 0;
  display: block;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.calculatorcontainer table:first-of-type tr:first-of-type {
  border-top: 1px solid;
}

.calculatorcontainer table {
  width: 100%;
  font-size: 14px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.calculatorcontainer table tr {
  border-color: #fff;
  border-bottom: 1px solid;
}

.calculatorcontainer table tr td:last-of-type {
  text-align: right;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms linear;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.5;
  transition: opacity 500ms linear;
}
.fade-exit-done {
  opacity: 0.4;
}
.fade-appear {
  opacity: 0;
}
.fade-appear-active {
  opacity: 1;
  transition: opacity 500ms linear;
}
